body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #228315;
}

p {
    text-align: justify;
    width: 90%;
}

.highlight {
    font-weight: bold;
    color: #007bff;
}

.section {
    margin-bottom: 20px;
}
h2{
    font-size: 20px;
    font-weight: 600;
}