<h4 class="text-center">Admin List</h4>
<p>
    <a routerLink="/AddAdmin" class="btn btn-primary">Add Admin</a>
</p>
<div class="table-responsive">
<div class="container">
    <table class="table table-bordered table-striped">
        <thead class="text-center">
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Gender</th>
                <th>Phone number</th>
                <th>Address</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let student of data">
                <td><span>{{student.firstName}}</span></td>
                <td><span>{{student.lastName}}</span></td>
                <td><span>{{student.gender}}</span></td>
                <td><span>{{student.phoneNumber}}</span></td>
                <td><span>{{student.address}}</span></td>
                <td><span>{{student.email}}</span></td>
                <td class="text-center">
                    <button class="btn btn-outline-danger" (click)="delete(student.id)" >Delete</button>
                  </td>
            </tr>
        </tbody>
    </table>
</div>
</div>