.form{
    margin-top: 50px;
    width: 40%;
}
.head{
    background-color: rgb(148, 233, 162);
}
.error{
    color: red;
    font-size: 15px;
}
.addug{
    background-image: url('/assets/image/as.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    backdrop-filter: blur(20px);
}
.card-header{
    background-color: rgb(114, 233, 134);

}
.card-body{
    background-color:  rgb(187, 248, 197);
    
}