<h2 class="text-center welcome"> Hi!{{sessionname}}</h2>
<body>
    <h2 class="text-center text">Our programs</h2>
    <br />
    <div class="row">
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">UG program</h2>
                <p class="card-description">
                    "UG" typically stands for "Undergraduate," and "program" could refer to a variety of academic programs or courses of study at the undergraduate level.
                </p>

                <img src="assets/image/pexels-césar-valeu-1628095.jpg" alt="Card Image " class="card-image">
                <a routerLink="/useruglist"  class="card-button">Ug program</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">PG program</h2>
                <p class="card-description">
                    "PG Program" typically stands for "Postgraduate Program." It refers to a higher level of academic study pursued by individuals who have already completed their undergraduate education.
                </p>

                <img src="assets/image/pexels-tima-miroshnichenko-5427659.jpg" alt="Card Image" class="card-image">
                <a routerLink="/userpglist" class="card-button">Pg program</a>

            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">PC program</h2>
                <p class="card-description">
                    "Professional courses" typically refer to specialized educational programs designed to equip individuals with the skills, knowledge, and practical training required for specific careers or professions.
                </p>

                <img src="assets/image/pexels-yan-krukau-8199170.jpg" alt="Card Image" class="card-image">
                <a routerLink="/userpclist" class="card-button">Pc program</a>

            </div>
        </div>
    </div>
</body>

