.wid{
    width: 60%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.form{  
    width: 40%;
    padding-left: 60px;
}
.text{
    color: rgb(24, 211, 24);
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}
.contact{
    background-image: url('/assets/image/signin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.card-body{
    background-color:  rgb(187, 248, 197);
}
.card-header{
    background-color: rgb(114, 233, 134);
}

span{
    color: red;
    font-size: 12px1;
}