.form{
    width: 40%;
    padding-top:30px;
    padding-bottom: 30px;
}
.head{
    background-color: rgb(148, 233, 186);
}
.profileback{
    background-image: url('/assets/image/signin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.card-header{
    background-color: rgb(114, 233, 134);

}
.card-body{
    background-color:  rgb(187, 248, 197);
    
}