
<div class="signin">   
   
    <div class="container login-container bottom">
        <div class="card ">
            <div class="card-header">
                <h3 class="text-center">forgotPassword</h3>
            </div>
            <div class="card-body" >
                <form [formGroup]="forgotpassword" (ngSubmit)="changepassword()">
                    <div><span class="text-center error">{{message}}</span></div>

                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input type="email" class="form-control"  formControlName="email">

                        <div *ngIf="email && email.invalid && email.touched">
                            <div class="text-danger">Invalid email format</div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="inputEmail">phone number</label>
                        <input type="email" class="form-control"  formControlName="phonenumber">

                        <div *ngIf="phonenumber && phonenumber.invalid && phonenumber.touched">
                            <div class="text-danger">Invalid email format</div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" formControlName="password">

                        <div *ngIf="password && password.invalid && password.touched">
                            <div class="text-danger">Enter Strong Password.</div>
                          </div>
                    </div>

                    <button type="submit" [disabled]="!forgotpassword.valid" class="btn btn-primary btn-block">Reset</button>
                    <div>
                        Return to Sign in <a routerLink="/Signin">Sign in</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
