<div class="text-center welcome">Welcome to Sree Saraswathi Thygaraja College</div>
<div class="image-carousel home">
  <div class="w3-content w3-section image">
    <img
      class="mySlides"
      src="assets/image/pexels-element-digital-1370296.jpg"
    />
    <img class="mySlides" src="assets/image/pexels-yan-krukau-8199170.jpg" />
    <img
      class="mySlides"
      src="assets/image/pexels-stanley-morales-1454360.jpg"
    />
  </div>
  <div class="paragraph">
    A college is an institution of higher education that offers a diverse range
    of academic programs, providing students with the opportunity to pursue
    undergraduate and, in many cases, graduate degrees. Colleges play a crucial
    role in fostering intellectual growth, personal development, and career
    readiness. They typically feature a vibrant campus life with extracurricular
    activities, student organizations, and a variety of resources to support
    academic success. Colleges aim to create an environment that encourages
    critical thinking, collaboration, and the acquisition of knowledge across
    various disciplines. Faculty members, often experts in their fields,
    contribute to the educational experience by imparting their knowledge and
    mentoring students. Overall, colleges serve as hubs for learning, personal
    growth, and the preparation of individuals for their future endeavors.
  </div>
</div>
<section>
  <h2 class="head">STC Graduation</h2>
  <div  class="firstimage">
    <div  class="secondimage">
      <img class="my" src="assets/image/pexels-césar-valeu-1628095.jpg" />
    </div>
    <div>
      <img class="my" src="assets/image/pexels-tima-miroshnichenko-5427659.jpg" />
    </div>
  </div>
  <div class="paragraph1">
    In addition to academic pursuits, colleges are hubs of social and cultural
    interaction. They provide students with the opportunity to engage in a
    myriad of activities, from sports and arts to community service and
    leadership roles. The diverse student body contributes to a rich tapestry of
    perspectives, fostering an inclusive environment that encourages students to
    broaden their horizons and appreciate different worldviews. College campuses
    often boast state-of-the-art facilities, including libraries, laboratories,
    and recreational spaces, enhancing the overall learning experience.
    Moreover, colleges frequently host events, guest lectures, and workshops,
    allowing students to connect with industry professionals and experts in
    various fields. The college journey is not only about gaining knowledge but
    also about developing crucial life skills such as time management,
    communication, and critical thinking. As students navigate through their
    academic coursework, they are simultaneously preparing for the challenges
    and opportunities that await them beyond the college gates.
  </div>
</section>
